.lead-text {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  color: var(--primary-text-color);
}

h1, .sublead-text {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 10px;
}

.heading-text {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  color: var(--secondary-text-color);

  img {
    height: 1em;
    width: auto;
  }
}


h1, .title-text {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-text-color);
  border-left: var(--primary-link-color) 8px solid;
  padding-left: 10px;
}

h2, .subtitle-text {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.text {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.subtext {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
