$fa-font-path: "/ziomkigliwice/css/webfonts";
@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";
@import "fontawsome/fontawesome.scss";
@import "fontawsome/solid.scss";
@import "fontawsome/brands.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
}

ul > li {
  padding: 0.3rem 0;
}

p > img {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 40px;

  img {
    width: 60px;
    margin: 0 25px;
  }
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding: 0 40px;

  .explore-more {
    position: absolute;
    color: var(--primary-text-color);
    bottom: 20px;
    cursor: pointer;
  }
}

main {
  background-color: var(--secondary-color);
  display: flex;
  padding: 50px 100px;
  flex-grow: 1;

  .content{
    padding-top: 1em;
    padding-left: 2em;
    background-color: white;
    border-radius: 3px;
    border-top: 5px solid var(--secondary-color);
  }

  .post{
    border-left: 0.5em solid var(--primary-link-color);
    padding-left: 1em;
    margin-bottom: 1em;
  }

  .toc {
    max-width: 260px;
    min-width: 240px;
    padding: 0 1em 0  0
  }

  .toc-item {
    padding: 10px 20px;
    color: #424242;
  }

  .toc-item a, .toc-item-child a {
    color: var(--secondary-text-color);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .toc-item a.active, .toc-item-child a.active {
    color: var(--toc-highlight-text-color);
  }

  .toc-item-child {
    padding: 0 30px 5px;
    color: #424242;
  }

}

.toc-sticky {
  border-radius: 3px;
  border-top: 5px solid var(--primary-link-color);
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 10px;
  padding: 10px 0 20px;
  max-height: 100vh;
  overflow: auto;
}

footer {
  padding: 50px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: #fcfcfc;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 3.5em;
  }
  a:hover {
    color: var(--primary-link-color);
    text-decoration: none;
    font-size: 3.6em;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 60%;
    min-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;

    img {
      width: 45px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 40px 30px;
  }

  main {
    padding: 30px;
  }

  .content {
    padding: 0;
  }

  .explore-more, .toc {
    display: none;
  }

}

.instagram-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-instagram);
    text-decoration: none;
  }
}

.cr-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-copyright);
    text-decoration: none;
  }
}
