{% macro render_header() %}
{#{% set school = get_section(path="school/_index.md") %}#}
{% set events = get_section(path="events/_index.md") %}
{% set tabs = [events] %}
<a href="{{ config.base_url }}">
    <div class="logo">
        <img src="{{ get_url(path=config.extra.juice_logo_path) }}" alt="logo">
        {{ config.extra.juice_logo_name }}
    </div>
</a>

<nav>
  {% for tab in tabs %}
  <a class="nav-item subtitle-text" href="{{ tab.permalink }}">{{ tab.title }}</a>
  {% endfor %}
    {% if config.extra.juice_extra_menu %}
        {% for menu in config.extra.juice_extra_menu %}
        <a class="subtitle-text nav-item" href="{{ menu.link }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}
</nav>
{% endmacro render_header %}
