{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
{% for event in section.pages %}
  <div class="post">
    <i>{{event.date}}</i>
    {{event.summary | safe}}
    <a href="{{event.permalink}}#continue-reading"> czytaj dalej.</a>
  </div>

{% endfor %}
{{ section.content | safe }}
<div>
<i class="fas fa-user"></i>
<i class="user">Koń</i>
</div>
{% endblock content %}
