{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

<main>
    {% block toc %}
    {% if section.toc %}
    {% set toc = section.toc %}
    {% elif page.toc %}
    {% set toc = page.toc %}
    {% endif %}
    {% if toc %}
    <div class="toc">
        <div class="toc-sticky">
            {% for h in toc %}
            <div class="toc-item">
                <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
            </div>
            {% if h.children %}
            {% for h2 in h.children %}
            <div class="toc-item-child">
                <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock toc %}

    <div class="content text">
        {% block content %}
        <div id="features" class="heading-text">Overview</div>
        {{ section.content | safe }}
        {% endblock content %}
    </div>

    {% block sidebar %}
    {% endblock %}
</main>
